<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282771899974-v70pevqof8gg8a96rsea2lhhjnhtr9aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282771899974-v70pevqof8gg8a96rsea2lhhjnhtr9aq</string>
	<key>API_KEY</key>
	<string>AIzaSyDI6ehJ_6rFGFhiGAC7j9UsJ4FNRdfuMb4</string>
	<key>GCM_SENDER_ID</key>
	<string>282771899974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.garritfra.fling</string>
	<key>PROJECT_ID</key>
	<string>fling-list</string>
	<key>STORAGE_BUCKET</key>
	<string>fling-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282771899974:ios:e28ba4fea670dd8aa3ec47</string>
</dict>
</plist>