name: Build
on:
  push:
    branches:
      - main
  pull_request:

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    name: Build ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ["apk --debug", "appbundle --debug", web]
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version-file: pubspec.yaml
          cache: true
      - run: flutter doctor -v
      - run: flutter pub get
      - run: flutter test
      - run: flutter build ${{ matrix.target }}
      - uses: actions/upload-artifact@v5
        with:
          name: build-${{ matrix.target }}
          path: build/